/* Index.html file's CSS codes. */
body{
	background-image: url('Image_Resources/backimg.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	height: 500px;
	font-family: Helvetica; 
}

.introsection {
	text-align: center;
	font-size: 20px;
}

h1 { 
    text-align: center;
	color: black;
	font-size: 55px;	
}

.name {
	animation-name: namecolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes namecolorchange{
	0%{color: cyan;}
	30%{color: lightblue;}
	60%{color: aqua;}
	100%{color: lightgreen;}
}	

h2 {
	text-align: center;
}

.aboutmyself {
	text-align: center;
	font-size: 23px;

}

.Words {
	font-weight: bold;
	font-size: 20px;
}

.info {
	display: flex; 
	color: black;
	justify-content: left;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	
}

.info div{
	animation-name: myportfoliocolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes myportfoliocolorchange{
	0%{color: cyan;}
	30%{color: lightblue;}
	60%{color: aqua;}
	100%{color: lightgreen;}
}	

.indexheader {
	margin:0;
	padding: 20px;
}

.navbar {
	display: flex;
	justify-content: right;
	text-align: center;

}

.navbaritem {
    list-style: none;  
    margin: 0;
    padding: 0;
    display: flex; 
	text-align: center;

}


.navoption {
    margin: 15px;
	padding: 0;
    list-style: none;
	text-decoration: none;
    transition: transform 0.5s ease;

}

.navlink {
    color: black;
    font-weight: bold;
	text-decoration: none;
    padding: 10px;
    transition: transform 0.5s ease;
}

.navlink:hover {
	color: red; 
}

.navoption:hover {
	transform: scale(1.2);

}


.main{	
    display: grid;
	margin-top: 5px;
	justify-content: center;
	align-items: center;
	background-color: rgba(81, 123, 130, 0.7);
	padding: 80px;
}


.credits {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	margin-top: 65px;
    font-weight: bold;
	animation-name: colorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.credits a {
	color: black;
    font-weight: bold;
	font-family: Helvetica;
	text-decoration: none;
	list-style: none;
	animation-name: colorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	border-radius: 0;
	padding: 9px;
	transition: color 0.5s ease, border 0.5s ease, background-color 0.5s ease;

}

.credits a:hover{
	background-color: grey;
	border-radius: 8px;
}

@keyframes colorchange{
	0%{color: cyan;}
	30%{color: lightblue;}
	60%{color: aqua;}
	100%{color: lightgreen;}
}

.hamburgericon {
	font-size: 25px;
	display: none;
	cursor: pointer;
}


#menuopen {
	display: none;
}


/* Project.html */


.projectmain {
	display: grid;
	margin: 50px 0 0 10px;
}

.projectcontainer {
	display: grid;
    grid-template-columns: 300px 300px 300px 300px;
	gap: 40px;
	justify-content: center;
}

.project {
	display: flex;
	align-items: center;
	text-align: center;
    flex-direction: column; 
	column-gap: 10px;
}

.project img {
	width: 300px;
	display: block;
	box-shadow: 3px 2px 25px 3px teal;
	transition: transform 0.8s ease;
} 

.project img:hover{
	transform: scale(1.4);
}

.project h3 {
	animation-name: projectcolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes projectcolorchange{
	0%{color: white;}
	60%{color: cyan;}
	100%{color: aqua;}
}


/* contact.html files's css code */

.messagehead {
	font-size: 30px;
	margin-top: 2px;
	margin-bottom: 1px;
	padding: 4px;
}

.formMain {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 2px;
	
}

form {
	display: flex;
    flex-direction: column;
	gap: 10px;
	margin-top: 1px;
	
}

.userinfo {
	display: flex;
	flex-direction: row;
	gap: 20px;
	font-weight: bold;
	padding: 25px;

}

input[type="text"]{
	padding: 12px;
    border-radius: 10px;
    border: none;
	width: 200px;
	font-size: 15px;
	box-shadow: 3px 2px 25px 3px teal;

}

input[type="email"] {
	padding: 12px;
    border-radius: 10px;
    border: none;
	width: 200px;
	font-size: 15px;
	box-shadow: 3px 2px 25px 3px teal;
	
}

textarea {
	padding: 10px;
    border-radius: 10px;
    border: none;
	font-size: 18px;
    margin-top: 1px;
	height: 170px;
	box-shadow: 3px 2px 25px 3px teal;
	
}

input[type="submit"] {
	padding: 20px;
    border-radius: 10px;
    border: none;
	width: 200px;
	box-shadow: 3px 2px 25px 3px teal;
	transition: transform 0.5s ease;
	font-size: 17px;
	}

input[type="submit"]:hover {
	transform: scale(1.1);

}


.contactmain {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 30px;
	margin-top: 3px;

}

.contactshapes {
    list-style: none;  
    margin: 0;
    padding: 0;
    display: flex; 
	text-align: center;
}

.contactshapes p {
	margin: 30px 0 0 0;
	font-size: 25px;	
	animation-name: contactcolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes contactcolorchange {
	0%{color: white;}
	60%{color: cyan;}
	100%{color: aqua;}
}



.contactinfo {
    margin: 15px;
	padding: 0;
    list-style: none;
	text-decoration: none;
	cursor: pointer;
    transition: transform 0.5s ease;

}


/* Responsive */
@media screen and (max-width: 500px) {

.hamburgericon {
	display: block;
	}
	
.navbar {
	display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(81, 123, 130, 0.9);
    padding: 10px;
}
  
.navbaritem {
	flex-direction: column;
    align-items: center;
}
  
.navoption {
    margin: 10px;
}
  
#menuopen:checked + .hamburgericon + .navbar {
    display: flex;
}
  
#menuopen {
  display: none;
}

.main{
	padding: 10px;
}
	
.introsection{
	padding: 10px;
}
	
.credits {
	font-size: 15px;
	flex-direction: column;
    align-items: center;
}
  
.idnumber {
	margin-top: 20px;
	text-align: center;
}


.projectcontainer {
	grid-template-columns: 300px;
}

.project img {
	width: 100%;
}


}
