/* index.html file's CSS codes. */
body{
	background-image: url('Image_Resources/Backimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	height: 500px;
	font-family: Helvetica; 
}

.introsection {
	text-align: center;
	font-size: 20px;
}

h1 { 
    text-align: center;
	color: black;
	font-size: 55px;	
}

.name {
	animation-name: namecolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes namecolorchange{
	0%{color: cyan;}
	30%{color: lightblue;}
	60%{color: aqua;}
	100%{color: lightgreen;}
}	

h2 {
	text-align: center;
}

.aboutmyself {
	text-align: center;
	font-size: 23px;

}

.Words {
	font-weight: bold;
	font-size: 20px;
}

.info {
	display: flex; 
	color: black;
	justify-content: left;
	font-weight: bold;
	font-size: 20px;
	
}

.info span{
	animation-name: myportfoliocolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes myportfoliocolorchange{
	0%{color: cyan;}
	30%{color: lightblue;}
	60%{color: aqua;}
	100%{color: lightgreen;}
}	

.indexheader {
	margin:0;
	padding: 20px;
}

.navbar {
	display: flex;
	justify-content: right;
	text-align: center;

}

.navbaritem {
    list-style: none;  
    margin: 0;
    padding: 0;
    display: flex; 
	text-align: center;

}


.navoption {
    margin: 15px;
	padding: 0;
    list-style: none;
	text-decoration: none;
    transition: transform 0.5s ease;

}

.navlink {
    color: black;
    font-weight: bold;
	text-decoration: none;
    padding: 10px;
    transition: transform 0.5s ease;
}

.navlink:hover {
	color: red; 
}

.navoption:hover {
	transform: scale(1.2);

}


.main{	
    display: grid;
	margin-top: 5px;
	justify-content: center;
	align-items: center;
	background-color: rgba(81, 123, 130, 0.7);
	box-shadow: 2px 1px 15px 2px teal;
	padding: 80px;
}


.credits {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	margin-top: 65px;
    font-weight: bold;
	animation-name: colorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.credits a {
	color: black;
    font-weight: bold;
	font-family: Helvetica;
	text-decoration: none;
	list-style: none;
	animation-name: colorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	border-radius: 0;
	padding: 9px;
	transition: color 0.5s ease, border 0.5s ease, background-color 0.5s ease;

}

.credits a:hover{
	background-color: grey;
	border-radius: 8px;
}

@keyframes colorchange{
	0%{color: cyan;}
	30%{color: lightblue;}
	60%{color: aqua;}
	100%{color: lightgreen;}
}

.hamburgericon {
	font-size: 25px;
	display: none;
	cursor: pointer;
}


#menuopen {
	display: none;
}


.hamburgericon {
	font-size: 25px;
	display: none;
	cursor: pointer;
}


#menuopen {
	display: none;
}


/* project.html file's CSS codes. */


.projectmain {
	display: grid;
	margin: 50px 0 0 10px;
}

.projectcontainer {
	display: grid;
    grid-template-columns: 300px 300px 300px 300px;
	gap: 40px;
	justify-content: center;
}

.project {
	display: flex;
	align-items: center;
	text-align: center;
    flex-direction: column; 
	column-gap: 10px;
}

.project img {
	width: 300px;
	display: block;
	box-shadow: 3px 2px 25px 3px teal;
	transition: transform 0.8s ease;
} 

.project img:hover{
	transform: scale(1.4);
}

.project h3 {
	animation-name: projectcolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes projectcolorchange{
	0%{color: white;}
	60%{color: cyan;}
	100%{color: aqua;}
}


/* contact.html files's CSS codes. */

.messagehead {
	margin-top: 2px;
	margin-bottom: 1px;
	padding: 4px;
}

.formMain {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 2px;
	
}

form {
	display: flex;
    flex-direction: column;
	gap: 10px;
	margin-top: 1px;
	
}

.userinfo {
	display: flex;
	flex-direction: row;
	gap: 20px;
	font-weight: bold;
	padding: 25px;

}

input[type="text"]{
	padding: 12px;
    border-radius: 10px;
    border: none;
	width: 200px;
	font-size: 15px;
	box-shadow: 3px 2px 25px 3px teal;

}

input[type="email"] {
	padding: 12px;
    border-radius: 10px;
    border: none;
	width: 200px;
	font-size: 15px;
	box-shadow: 3px 2px 25px 3px teal;
	
}

textarea {
	padding: 10px;
    border-radius: 10px;
    border: none;
	font-size: 18px;
    margin-top: 1px;
	height: 170px;
	box-shadow: 3px 2px 25px 3px teal;
	
}

input[type="submit"] {
	padding: 20px;
    border-radius: 10px;
    border: none;
	width: 200px;
	box-shadow: 3px 2px 25px 3px teal;
	transition: transform 0.5s ease;
	font-size: 17px;
	}

input[type="submit"]:hover {
	transform: scale(1.1);

}


.contactmain {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 30px;
	margin-top: 3px;

}

.contactshapes {
    list-style: none;  
    margin: 0;
    padding: 0;
    display: flex; 
	text-align: center;
}

.contactshapes p {
	margin: 30px 0 0 0;
	font-size: 25px;	
	animation-name: contactcolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes contactcolorchange {
	0%{color: white;}
	60%{color: cyan;}
	100%{color: aqua;}
}



.contactinfo {
    margin: 15px;
	padding: 0;
    list-style: none;
	text-decoration: none;
	cursor: pointer;
    transition: transform 0.5s ease;

}


.contactinfo img {
	height: 55px;
	width: 55px;
	transition: transform 0.5s ease;
}

.contactinfo img:hover {
	transform: scale(1.2);
}



/* videodemo.html file's CSS codes. */

.videodemomain {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.videodemomain h1 {
	font-size: 38px;
}

.videodemomain h3 {
	color: white;
}

.videodemomain a {
	text-decoration: none;
	animation-name: videodemocolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes videodemocolorchange{
	0%{color: white;}
	60%{color: cyan;}
	100%{color: aqua;}
}

.videodemomain iframe {
	height: 400px;
	width: 800px;
	box-shadow: 3px 2px 25px 1px teal;

}




/* sitereport.html file's CSS code */


.sitereportmain {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.sitereportmain p {
	background-color: rgba(81, 123, 130, 0.8);
	padding: 80px;
	font-size: 25px;
	line-height: 1.5;
	max-width: 1200px;
	box-shadow: 3px 2px 25px 1px teal;
	margin: 40px 0;

}

.sitereportmain h2 {
	font-size: 40px;

}

.sitereportmain span {
	display: block;
	font-weight: bold;

}

.sitereportmain a {
	text-decoration: none;
	animation-name: sitereportcolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes sitereportcolorchange{
	0%{color: white;}
	60%{color: cyan;}
	100%{color: aqua;}
}

.wireframeimg {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 20px;
}

.webviewimg {
  height: 400px; 
  width: 700px;
  margin-bottom: 40px;
  box-shadow: 3px 2px 25px 1px teal;
}

.mobileviewimg {
  height: 400px; 
  width: 250px;	
  margin-bottom: 40px;
  box-shadow: 3px 2px 25px 1px teal;
	
}


.validateimg {
  display: grid;
  grid-template-columns: 1500px;
  gap: 30px;
  justify-items: center;
}

.validateimg img {
  height: 400px; 
  width: 800px;
}

.youtubevideolink {
	animation-name: contactcolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	display: flex;
    flex-direction: column; 
    align-items: center;
}

@keyframes contactcolorchange {
	0%{color: white;}
	60%{color: cyan;}
	100%{color: aqua;}

}

.youtubevideolink img{
	height: 55px;
	width: 55px;
	transition: transform 0.5s ease;
}

.youtubevideolink img:hover {
	transform: scale(1.2);
}







/* Mobile Responsive css code */


@media screen and (max-width: 500px) {


/* index.html file's CSS codes. */

.hamburgericon {
	display: block;
}
	
.navbar {
	display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(81, 123, 130, 0.9);
    padding: 10px;
}
  
.navbaritem {
	flex-direction: column;
    align-items: center;
}
  
.navoption {
    margin: 10px;
}
  
#menuopen:checked + .hamburgericon + .navbar {
    display: flex;
}
  
#menuopen {
  display: none;
}

.main{
	padding: 10px;
}
	
.introsection{
	padding: 10px;
}
	
.credits {
	font-size: 15px;
	flex-direction: column;
    align-items: center;
}
  
.idnumber {
	margin-top: 20px;
	text-align: center;
}


/* project.html file's CSS codes. */

.projectcontainer {
	grid-template-columns: 300px;
}

.project img {
	width: 100%;
}


/* contact.html file's CSS codes. */


.messagehead {
	font-size: 44px;
	text-align: center;
}

.userinfo {
	flex-direction: column;
	gap: 15px;
	padding: 10px;
}

input[type="text"] {
	width: 90%;
	font-size: 17px;
}

input[type="email"] {
	width: 90%;
	font-size: 17px;
}

textarea {
	width: 90%;
	font-size: 17px;
	height: 150px;
}

input[type="submit"] {
	width: 60%;
}

.contactshapes {
	flex-direction: row;
	align-items: center;
}

.contactshapes p {
	margin-bottom: 10px;
}

.contactinfo {
	margin: 10px;
}


/* demovideo.html's css code */

.videodemomain {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.videodemomain h1 {
	font-size: 23px;
}

.videodemomain iframe {
	height: 200px;
	width: 100%;
	box-shadow: 3px 2px 25px 1px teal;

}

/* sitereport.html file's CSS codes. */


.sitereportmain p {
	padding: 20px;
	font-size: 16px;
}

.sitereportmain h2 {
	font-size: 26px;
	text-align: center;
}

.wireframeimg {
	flex-direction: column;
	gap: 30px;
}

.webviewimg {
	width: 90%;
	height: 50%;
}

.validateimg {
	grid-template-columns: 500px;
	justify-content: center;
}

.validateimg img {
	width: 360px;
	height: 250px;
}




}
